*.class
*.iml
build/*
.classpath
.project
.settings
*.war
*~
*.lock
*.DS_Store
*.swp
*.out
*.bak
*.tmp
*.log
log*.txt
.idea
.git
target/*
/*/target/*
target/
/*/target_*/*
*.flattened-pom.xml
/*/metastore_db/*
/**/.flattened-pom.xml
/**/.ci-friendly-pom.xml

/output/urls_latimes.csv